<%- layout("layouts/boilerplate") %>


<div class="container d-flex flex-column align-items-center justify-content-center" style="min-height: 80vh;">
    <h1 class="fw-bold mb-3">My Spotify</h1>
    <p class="text-muted">今日の音楽を見つける</p>
    <a href="/random" class="btn btn-outline-success" >見つける</a>
</div>
