<%- layout("layouts/boilerplate") %>


<div class="container d-flex flex-column align-items-center justify-content-center" style="min-height: 80vh;">
    <h1 class="fw-bold mb-3">My Spotify</h1>
    <p class="text-muted">気分に合わせた音楽を見つけよう</p>
    <a href="/moods" class="btn-start" >はじめる</a>
</div>

  